In [ ]:
#Mounting File
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
from itertools import chain
import collections
import statistics
from statistics import mode 

!pip install iteration_utilities
from iteration_utilities import duplicates
from pandas import DataFrame
from google.colab import files

Collecting iteration_utilities
  Downloading https://files.pythonhosted.org/packages/64/56/c220ada4b076408681645460fd54061e2fafeab72f5ef16590ed1e25d322/iteration_utilities-0.10.1-cp36-cp36m-manylinux2010_x86_64.whl (270kB)
     |████████████████████████████████| 276kB 4.5MB/s
Installing collected packages: iteration-utilities
Successfully installed iteration-utilities-0.10.1

In [ ]:
df_allergies = pd.read_excel('intern.xlsx', sheet_name="Allergies")

In [ ]:
df_demog = pd.read_excel('intern.xlsx', sheet_name="Demographics")

In [ ]:
df_allergies

      Person ID    Allergy
0             1     Pollen
1             1  Shellfish
2             2      Grass
3             2       Nuts
4             3     Pollen
...         ...        ...
2995       1995     Pollen
2996       1996     Pollen
2997       1997     Pollen
2998       1999  Shellfish
2999       2000       Nuts

[3000 rows x 2 columns]

#Data Cleaning

In [ ]:

df_clean = df_allergies.groupby('Person ID')['Allergy'].unique().to_dict()
df_kk = pd.DataFrame(df_clean.items(), columns=['Person ID','Allergy'])
df_finalClean = df_kk.set_index(['Person ID'])['Allergy'].apply(pd.Series).stack().reset_index(level=1, drop=True)
df_finalClean
#df_finalClean.to_csv('df_Clean.csv')
#!cp data_Clean.csv "drive/My Drive/"

Person ID
1          Pollen
1       Shellfish
2           Grass
2            Nuts
3          Pollen
          ...
1995       Pollen
1996       Pollen
1997       Pollen
1999    Shellfish
2000         Nuts
Length: 2437, dtype: object

#Cleaned data

In [ ]:
df_finalClean
#df_finalList = df_finalClean.groupby('Person ID').unique().to_dict()
#print(df_finalList)
#df_finalClean.to_csv('df_finalClean.csv')
#files.download('df_finalClean.csv')

Person ID
1          Pollen
1       Shellfish
2           Grass
2            Nuts
3          Pollen
          ...
1995       Pollen
1996       Pollen
1997       Pollen
1999    Shellfish
2000         Nuts
Length: 2437, dtype: object

What is the most common allergy

In [ ]:
#Most common Allergy
commonAllergy = df_kk['Allergy'].value_counts().idxmax()
print('Most common allergy is ', commonAllergy)

#print(pd.value_counts(df_kk.Allergy).to_frame().reset_index())

Most common allergy is  ['Nuts']
                        index  Allergy
0                      [Nuts]      429
1                    [Pollen]      174
2                     [Grass]      170
3                 [Shellfish]       74
4              [Nuts, Pollen]        1
..                        ...      ...
702            [Nuts, Pollen]        1
703           [Grass, Pollen]        1
704     [Grass, Nuts, Pollen]        1
705         [Nuts, Shellfish]        1
706  [Grass, Nuts, Shellfish]        1

[707 rows x 2 columns]

How many People have no allergy at all

In [ ]:
start = df_allergies['Person ID'].iloc[0]
end = df_allergies['Person ID'].iloc[-1]
li = []
li = set(range(start, end + 1)).difference(df_allergies['Person ID'])

count = 0
for i in li:
  count += 1
print('The count of people who dont have Allergy : ', count)

The count of people who dont have Allergy :  450

How many people have multiple allergies?

In [ ]:
  df_noDup = df_allergies.drop_duplicates(subset=None, keep='last', inplace=False)
  
  setOfElement = set()
  count = 0
  for key in df_List.keys():
    val = df_List[key]
    if list(duplicates(val)):
      count += 1
  
  #Duplicate values
  print(count, ' number of people have multiple allergies')

430  number of people have multiple allergies

#Connecting Data

In [ ]:
df_List = df_allergies.groupby('Person ID')['Allergy'].apply(list).to_dict()
df_ListDF = DataFrame(list(df_List.items()), columns = ['Person ID','Allergy'])
print(df_ListDF)

df_Connected = pd.merge(left=df_ListDF, right=df_demog, on=['Person ID'], how="left")
df_Connected.head

      Person ID                        Allergy
0             1            [Pollen, Shellfish]
1             2                  [Grass, Nuts]
2             3            [Pollen, Shellfish]
3             5  [Grass, Nuts, Pollen, Pollen]
4             7              [Nuts, Shellfish]
...         ...                            ...
1545       1995                       [Pollen]
1546       1996                       [Pollen]
1547       1997                       [Pollen]
1548       1999                    [Shellfish]
1549       2000                         [Nuts]

[1550 rows x 2 columns]

<bound method NDFrame.head of       Person ID                        Allergy  ... Eye Colour   Height
0             1            [Pollen, Shellfish]  ...       Blue  Average
1             2                  [Grass, Nuts]  ...       Blue    Short
2             3            [Pollen, Shellfish]  ...       Blue    Short
3             5  [Grass, Nuts, Pollen, Pollen]  ...       Blue  Average
4             7              [Nuts, Shellfish]  ...       Blue     Tall
...         ...                            ...  ...        ...      ...
1545       1995                       [Pollen]  ...      Green  Average
1546       1996                       [Pollen]  ...      Green    Short
1547       1997                       [Pollen]  ...      Brown  Average
1548       1999                    [Shellfish]  ...      Brown     Tall
1549       2000                         [Nuts]  ...      Hazel     Tall

[1550 rows x 8 columns]>

In [ ]:
#Exporting the file into csv
#df_Connected.to_csv('df_Connected.csv')
#files.download('df_Connected.csv')

What city has the most people with allergies?

In [ ]:

df_city = pd.value_counts(df_Connected.City).to_frame().reset_index()
print(df_city)
print('\nBurlington has the most people with allergies\n\n\n')

df_gAll = pd.value_counts(df_Connected.Sex).to_frame().reset_index()
print(df_gAll)
print('\n there are 944 male with allergies compaired to female')

                   index  City
0             Burlington   373
1               Oakville   358
2           Halton Hills   348
3  Outside Halton Region   246
4                 Milton   225

Burlington has the most people with allergies



    index  Sex
0    Male  944
1  Female  606

 there are 944 male with allergies compaired to female

In [ ]:
#converting dob to ages
import datetime
def from_dob_to_age(born):
    today = datetime.date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

df_Connected1 = df_Connected['DOB'].apply(lambda x: from_dob_to_age(x))
df_Connected1

something = pd.Series(df_Connected1, name="Age")
df_completeConcat = pd.concat([df_Connected, something], axis=1) 
df_completeConcat

#exporting

#df_completeConcat.to_csv('df_completeConcat.csv')
#files.download('df_completeConcat.csv')

      Person ID                        Allergy     Sex  ... Eye Colour   Height Age
0             1            [Pollen, Shellfish]    Male  ...       Blue  Average  13
1             2                  [Grass, Nuts]    Male  ...       Blue    Short  10
2             3            [Pollen, Shellfish]    Male  ...       Blue    Short  17
3             5  [Grass, Nuts, Pollen, Pollen]    Male  ...       Blue  Average  16
4             7              [Nuts, Shellfish]  Female  ...       Blue     Tall  15
...         ...                            ...     ...  ...        ...      ...  ..
1545       1995                       [Pollen]  Female  ...      Green  Average  14
1546       1996                       [Pollen]    Male  ...      Green    Short  17
1547       1997                       [Pollen]    Male  ...      Brown  Average  15
1548       1999                    [Shellfish]  Female  ...      Brown     Tall  12
1549       2000                         [Nuts]    Male  ...      Hazel     Tall  18

[1550 rows x 9 columns]